* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #222;
}

header nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 16px;
}



.header a{
    text-decoration: none;
    color: whitesmoke;
    display: flex;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.promo{
    display:grid;
    grid: 30px;
    gap: 0px;
}

.promo h3{
    font-size: 30px;
    gap: 20px
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.promo {
    padding: 80px 20px;
    text-align: center;
    background: #f5f5f5;
}

.card h3{
    gap: 50px;
}

.card img{
    height: 150px;
    width: 370px;
}
.products {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px solid #3f3b3b;
    text-align: center;
    border-radius: 30px;
    gap: 300px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(255, 253, 253, 0.5);
}

.modal button{
    display: flex;
    margin-left: 100px;
    gap: 20px;
    font-size: 12px;
}

.card button{
    background-color: white;
    font-size: 15px;
    border-radius: 20px;
    border: none;
}

.modal-content {
    background: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    position: relative;
    border-radius: 30px;

}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.modal button {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}


.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
}



.burger span {
  width: 25px;
  height: 3px;
  background: white;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px;
  }

.open-modal button{
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
  .menu.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}